<div class="w-measure">
  <div class="card">
    <article class="card-body">
        <header class="d-flex justify-content-between align-items-center">
          <h1><%= @post.title %></h1>
          <%= link "Edit", to: Routes.post_path(@conn, :edit, @post), class: "btn btn-outline-secondary" %>
        </header>
        <%= Phoenix.HTML.raw(@post.body) %>
    </article>
  </div>
</div>
