<div class="w-narrow">
  <div class="card text-white bg-dark">
    <div class="card-header font-weight-bold">
      Register
    </div>

    <div class="card-body">
      <%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
        <%= input f, :email, placeholder: "Your email" %>
        <%= input f, :password, placeholder: "Choose a password" %>
        <%= submit "Register", class: "btn btn-primary float-right" %>
      <% end %>
    </div>
  </div>
</div>
